.places{
	color: #fff;
	margin: 91px 100px 0;
}

@media screen and (max-width:1279px){
	.places{					
			margin:91px 48px 0;
	}
}

@media screen and (max-width:1023px){
		.places{					
			margin:88px 0 0;
	}
}
@media screen and (max-width:767px){
		.places{					
			margin:64px 0 0;
	}
}