.header__lang{
	display: flex;
	color: #fff;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	list-style: none;
	margin: 0;
	padding: 0;
}

@media screen and (max-width:767px){
	.header__lang{
		font-size: 18px;
		line-height: 20px;
	}
}