.cover__subtitle{
	max-width: 360px;
	font-family: 'Inter', 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	z-index: 2;
}

@media screen and (max-width:767px){
		.cover__subtitle{			
			font-size: 14px;
			line-height: 16px;
			max-width: 260px;
	}
}