.lead__title{
	max-width: 720px;
	font-family: 'Inter', 'Arial';
	font-style: normal;
	font-weight: 900;
	font-size: 6rem;
	line-height: 1.04;
	margin: 0;
	padding: 0;
}

@media screen and (max-width:767px){
	.lead__title{
		max-width: 288px;
		font-size: 2.5rem;
		line-height: 1.1;
	}
}
