.footer__copyright{
	font-family: 'Inter', 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 114%;
	margin: 0;
}

@media screen and (max-width:767px){
	.footer__copyright{
		line-height: 1;
		margin: 48px 0 0 ;
	}
}