.cover__overlay{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.cover__overlay:before{
	content: "";
	background-color: #2A2C2F;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}

.cover__overlay:hover::before{
	opacity: 0.8;
	transition: .8s ease;
}
