.cover__title{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	width: 560px;
	margin: 0 0 32px 0;
	z-index: 2;
}

@media screen and (max-width:767px){
		.cover__title{			
			font-size: 32px;
			line-height: 35px;
			width: 240px;
			margin-bottom: 16px;
	}
}