.lead__map{
	text-align: left;
	margin: 0 0 0 100px;
}



@media screen and (max-width:1279px){
	.lead__map{
		margin: 0 48px 0;
	}
}

@media screen and (max-width:767px){
	.lead__map{
			margin: 0;
		}
}