.place__website-url:first-child{
	font-size: 12px;
	line-height: 100%;
	color: #aaa;
	margin-bottom: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
	margin-bottom: 12px;
}

.place__website-url{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 122%;
	color: #fff;
}

.place__website-url:hover:last-child{
	opacity: 0.5;
	transition: .3s ease-in-out;
}